.row-container {
    border: 3px solid blue;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    height: 600px;
    margin:  25px 0;
}

.row-container div {
    /*height: 100px;*/
    width: 200px;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
    margin: 1.5rem;
}


.column-container {
    border: 3px solid green;
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    height: 750px;
    margin: 25px 0;
}

.column-container div {
    height: 100px;
    /*width: 200px;*/
    background-color: grey;
    border: 2px solid black;
    text-align: center;
    margin: 1.5rem;
}